<table class="table" *ngIf="repositories != null && repositories.length > 0">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Linguagem</th>
            <th scope="col">Data de criação</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let repository of repositories">
        <tr>
            <th scope="row">{{repository.gitHubId}}</th>
            <td>{{repository.name}}</td>
            <td>{{repository.language}}</td>
            <td>{{repository.creationDate}}</td>
            <td><a [routerLink]="['/repository-details', repository.gitHubId]" class="btn btn-secondary"
                    style="background-color: #343a40; color: #fff;" tabindex="-1" role="button"
                    aria-disabled="true">Detalhes</a>
            </td>
            <td><a target="_blank" [href]="repository.htmlUrl" class="btn btn-secondary"
                style="background-color: #343a40; color: #fff;" tabindex="-1" role="button"
                aria-disabled="true">Ver no GitHub</a>
        </td>
        </tr>
    </tbody>
</table>

<h2 *ngIf="repositories != null && repositories.length == 0">Nenhum resultado encontrado! :(</h2>